<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huayin.coms.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="com.huayin.coms.model.User">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="serial_number" property="serialNumber"
			jdbcType="VARCHAR" />
		<result column="alias_name" property="aliasName" jdbcType="VARCHAR" />
		<result column="customer_id" property="customerId" jdbcType="VARCHAR" />
		<result column="is_disable" property="isDisable" jdbcType="INTEGER" />
		<result column="is_admin" property="isAdmin" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, name, password, serial_number, alias_name, customer_id,
		is_disable,
		is_admin
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.huayin.coms.model.UserExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from web_user
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from web_user
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		web_user
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="com.huayin.coms.model.UserExample">
		delete from web_user
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.huayin.coms.model.User">
		insert into web_user (id,
		name, password,
		serial_number, alias_name, customer_id,
		is_disable,
		is_admin)
		values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{serialNumber,jdbcType=VARCHAR},
		#{aliasName,jdbcType=VARCHAR}, #{customerId,jdbcType=VARCHAR},
		#{isDisable,jdbcType=INTEGER}, #{isAdmin,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.huayin.coms.model.User">
		insert into web_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="serialNumber != null">
				serial_number,
			</if>
			<if test="aliasName != null">
				alias_name,
			</if>
			<if test="customerId != null">
				customer_id,
			</if>
			<if test="isDisable != null">
				is_disable,
			</if>
			<if test="isAdmin != null">
				is_admin,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="serialNumber != null">
				#{serialNumber,jdbcType=VARCHAR},
			</if>
			<if test="aliasName != null">
				#{aliasName,jdbcType=VARCHAR},
			</if>
			<if test="customerId != null">
				#{customerId,jdbcType=VARCHAR},
			</if>
			<if test="isDisable != null">
				#{isDisable,jdbcType=INTEGER},
			</if>
			<if test="isAdmin != null">
				#{isAdmin,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.huayin.coms.model.UserExample"
		resultType="java.lang.Integer">
		select count(*) from web_user
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update web_user
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.name != null">
				name = #{record.name,jdbcType=VARCHAR},
			</if>
			<if test="record.password != null">
				password = #{record.password,jdbcType=VARCHAR},
			</if>
			<if test="record.serialNumber != null">
				serial_number = #{record.serialNumber,jdbcType=VARCHAR},
			</if>
			<if test="record.aliasName != null">
				alias_name = #{record.aliasName,jdbcType=VARCHAR},
			</if>
			<if test="record.customerId != null">
				customer_id = #{record.customerId,jdbcType=VARCHAR},
			</if>
			<if test="record.isDisable != null">
				is_disable = #{record.isDisable,jdbcType=INTEGER},
			</if>
			<if test="record.isAdmin != null">
				is_admin = #{record.isAdmin,jdbcType=INTEGER},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update web_user
		set id = #{record.id,jdbcType=INTEGER},
		name =
		#{record.name,jdbcType=VARCHAR},
		password =
		#{record.password,jdbcType=VARCHAR},
		serial_number =
		#{record.serialNumber,jdbcType=VARCHAR},
		alias_name =
		#{record.aliasName,jdbcType=VARCHAR},
		customer_id =
		#{record.customerId,jdbcType=VARCHAR},
		is_disable =
		#{record.isDisable,jdbcType=INTEGER},
		is_admin =
		#{record.isAdmin,jdbcType=INTEGER}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.huayin.coms.model.User">
		update web_user
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="serialNumber != null">
				serial_number = #{serialNumber,jdbcType=VARCHAR},
			</if>
			<if test="aliasName != null">
				alias_name = #{aliasName,jdbcType=VARCHAR},
			</if>
			<if test="customerId != null">
				customer_id = #{customerId,jdbcType=VARCHAR},
			</if>
			<if test="isDisable != null">
				is_disable = #{isDisable,jdbcType=INTEGER},
			</if>
			<if test="isAdmin != null">
				is_admin = #{isAdmin,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.huayin.coms.model.User">
		update web_user
		set name = #{name,jdbcType=VARCHAR},
		password =
		#{password,jdbcType=VARCHAR},
		serial_number =
		#{serialNumber,jdbcType=VARCHAR},
		alias_name =
		#{aliasName,jdbcType=VARCHAR},
		customer_id =
		#{customerId,jdbcType=VARCHAR},
		is_disable =
		#{isDisable,jdbcType=INTEGER},
		is_admin = #{isAdmin,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectByExampleWithPage" resultMap="BaseResultMap"
		parameterType="map">
		select * from (
		select
		row_number() over
		(
		<if test="example.orderByClause != null">
			order by ${example.orderByClause}
		</if>
		) as row_num,
		<include refid="Base_Column_List" />
		from web_user
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>

		)
		t where row_num between #{from} and #{to}
	</select>
</mapper>